*{
    margin:0px;
    padding:0px;
}

#contenedor{
	width:1000px;
	position:absolute;
	margin-left:-500px;
	left:50%;
	border:1px solid #999;
	margin-top:15px;
	margin-bottom:15px;
}

#cabecera{
    padding:20px 0px 20px 0px;    
    text-align:center;
}

#menuLogin{
    height: 35px;
    background-color: #e6e6e6;    
}

#menuLogin li{
    float:left;
    list-style: none;
    padding:8px 36px 8px 16px;
    height: 30px;
} 


#menu{
    border: 1px #cccccc solid;
    background-color: #fff4bf;
    position:relative;
    height: 30px;
}

#menu li{
    float:left;
    list-style: none;
    padding:5px 16px 0px 16px;
    border-right: 2px solid #CACACA;
    height: 25px;
}

#menu li:nth-last-of-type(1) { 
    border-right: none;
}

#categorias ul{
    display: none;
    position: absolute;
    left: 0;
    margin-top: 6px;
}

#categorias:hover > ul{
    display:block;  
    border: 1px #666666 solid;
    }

#categorias ul li{
    float:none; 
    border:none;
    padding-bottom:5px;
    background-color: #f0f2f8;
}

#muestraProductos{
    padding: 15px 8px 15px 8px;
}

#muestraProductos img{
    width: 100px;
}

#muestraProductos td{
    padding: 10px;
}