*{
    margin:0px;
    padding:0px;
}

#contenedor{
    width:1000px;
    position:absolute;
    margin-left:-500px;
    left:50%;
    border:1px solid #999;
    margin-top:15px;
    margin-bottom:15px;
}

#cabecera{
    padding:20px 0px 20px 0px;    
    text-align:center;
}

#menuBasico{
    height: 34px;
    background-color: #e6e6e6;
    padding: 17px 36px 0px 16px;
}


#menu{
    border: 1px #cccccc solid;
    background-color: #fff4bf;
    position:relative;
    height: 30px;
}

#menu li{
    float:left;
    list-style: none;
    padding:5px 16px 0px 16px;
    border-right: 2px solid #CACACA;
    height: 25px;
}

#menu li:nth-last-of-type(1) { 
    border-right: none;
}

#categorias ul{
    display: none;
    position: absolute;
    left: 0;
    margin-top: 6px;
}

#categorias:hover > ul{
    display:block;  
    border: 1px #666666 solid;
}

#categorias ul li{
    float:none; 
    border:none;
    padding-bottom:5px;
    background-color: #f0f2f8;
}

#carritoCompra{
    height: 34px;
    padding: 17px 36px 0px 16px;
    background-color: #e6e6e6;
}

#carritoCompra li{
    float:left;
    list-style: none;
    padding-right: 6px;
}

#carritoCompra img{
    width: 20px;
}

#muestraProductos{
    padding: 15px 8px 15px 8px;
}

#muestraProductos img{
    width: 100px;
}

#muestraProductos td{
    padding: 10px;
}

#confirmarPedido{
    padding:8px 0px 8px 0px;
}

#confirmarPedido h2{
    padding-bottom: 8px;
}

#pedidos{
    padding:10px;
}

#pedidos a{
    text-decoration: none;
    background-color: #cedddf;
    border:2px #666666 solid;
    padding:4px;
}

#pedidos a:hover{
    background-color: #7798ab;
    border:3px #272727 solid;
}

#pedidos table{
    border-collapse: collapse;
}

#pedidos td{
    padding: 16px;
}

#pedidos tr{
    border: 2px #999 solid;
}

#divPedidosSinPreparar{
    padding:20px 0px 20px 100px;  
}